
body {
	font-family: sans-serif;
}

footer {
	border-top: .5px solid #aaa;
	font-size: 12px;
}

a { 
	text-decoration: none;
}

img {
	width: 135px;
	height: 135px;
}

header{
	font-size: 20px;
}
.container {
	margin: 0 auto;
	width: 70%;
	padding: 1.5em 1em;

}

.body-text{
	padding-bottom: 2%;
    line-height: 1.5;

}

.top-section-intro {
	font-weight: bold;
	line-height: 1.5;
}

.top-section-footer {
	font-weight: bold;
	display: flex;
	justify-content: flex-end;
	padding-bottom: 4%;
}

.page-links {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.page-links a {
	width: 25%;	
	padding: 1% 4%;
}

.footer-flex{
	display: flex;
	justify-content: center;	
}

.footer-notes{
	padding: 2%;
}

.footer-nav{
	display: flex;
	justify-content: center;	
}

.footer-nav a{
	margin: 0 10px;
}

@media (max-width: 899px) {
	img{
		width: 100%;
		height: auto;
	}
}

@media (max-width: 425px) {
	header{
		font-size: 12px;
	}	
}